<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cbd5a22-e93e-4963-ad95-3e6881aa977d" Alias="The Castles &amp; Gardens of Kent" Level="3">
  <Info>
    <Parent Key="e1b0d653-6b50-4699-b5d2-9e1072a220d7">Group Tours</Parent>
    <Path>/Home/GroupTours/TheCastlesGardensOfKent</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-01-27T19:12:49</CreateDate>
    <NodeName Default="The Castles &amp; Gardens of Kent" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "95cf4aed-3548-4e6e-8930-45d33146e4ab",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "26123487-1035-4691-8037-af3d6f064038",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "18bba1c0-8e7c-40de-a59a-61265b025fb6",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDay 1\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Suggested Itinerary"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "088e64f0-ebad-43fa-96c7-806c63d9fb2f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "80d16011-1e8b-4bc1-8d7a-307922acd91f",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "d277254c-cd50-4aba-9181-9abb98602696",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "3aac8805-7780-41b2-bc32-d1d527defdcb",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "f5d7604c-715a-4235-86cf-b031a8073d70",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "de017137-7166-4d2d-a0e5-3ac494eb6527",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "40249b87-fab5-4457-a375-5f9317a8251a",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "95cf4aed-3548-4e6e-8930-45d33146e4ab",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "26123487-1035-4691-8037-af3d6f064038",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "18bba1c0-8e7c-40de-a59a-61265b025fb6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "088e64f0-ebad-43fa-96c7-806c63d9fb2f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "80d16011-1e8b-4bc1-8d7a-307922acd91f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "80d16011-1e8b-4bc1-8d7a-307922acd91f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "40249b87-fab5-4457-a375-5f9317a8251a",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "088e64f0-ebad-43fa-96c7-806c63d9fb2f",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "de017137-7166-4d2d-a0e5-3ac494eb6527",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "26123487-1035-4691-8037-af3d6f064038",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3aac8805-7780-41b2-bc32-d1d527defdcb",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "18bba1c0-8e7c-40de-a59a-61265b025fb6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f5d7604c-715a-4235-86cf-b031a8073d70",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "95cf4aed-3548-4e6e-8930-45d33146e4ab",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d277254c-cd50-4aba-9181-9abb98602696",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[5 days from £889 Departing 15th October 2026]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[The Castles & Gardens of Kent]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[The Castles & Gardens of Kent]]></Value>
    </pageTitleShort>
  </Properties>
</Content>