<?xml version="1.0" encoding="utf-8"?>
<Content Key="8faa0880-ab26-440b-a8ec-7519e49e2e4c" Alias="xxxxxxx" Level="3">
  <Info>
    <Parent Key="e1b0d653-6b50-4699-b5d2-9e1072a220d7">Group Tours</Parent>
    <Path>/Home/GroupTours/xxxxxxx</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-01-26T19:53:40</CreateDate>
    <NodeName Default="xxxxxxx" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[xxxxxxxxx]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[xxxxxxxx]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[xxxxxxxx]]></Value>
    </pageTitleShort>
  </Properties>
</Content>