<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="213494ec-2a92-4f94-9bec-f7128cb3e91c" Alias="tourProperties" Level="3">
  <Info>
    <Name>Tour Properties</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Page+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0b42b05d-cf43-47c2-8e0e-2249f651d587</Key>
      <Name>Organiser Address</Name>
      <Alias>organiserAddress</Alias>
      <Definition>5e91e0b3-0cc2-48b9-af9f-cf7389f17960</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="tourProperties/organiserDetails">Organiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4167aba8-a286-4638-8a56-032525b274db</Key>
      <Name>Organiser Email</Name>
      <Alias>organiserEmail</Alias>
      <Definition>95ced538-43a2-445f-95ad-69b626a843cd</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="tourProperties/organiserDetails">Organiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f76aa5c-40b9-4743-aaa0-b1ec32dff3fd</Key>
      <Name>Organiser Name</Name>
      <Alias>organiserName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tourProperties/organiserDetails">Organiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d210233f-a41e-4e86-86b4-88d503a0b2b9</Key>
      <Name>Organisation</Name>
      <Alias>organiserOrganisation</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tourProperties/organiserDetails">Organiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da6244b0-8e0f-47b7-bd28-55cd9c199374</Key>
      <Name>Organiser Telephone</Name>
      <Alias>organiserTelephone</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tourProperties/organiserDetails">Organiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>73553a6b-7d1a-484c-aa6f-5c7f38990790</Key>
      <Caption>Organiser Details</Caption>
      <Alias>tourProperties/organiserDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>80279e7f-5230-4349-8c42-f3d75c89c166</Key>
      <Caption>Tour Properties</Caption>
      <Alias>tourProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>15</SortOrder>
    </Tab>
  </Tabs>
</ContentType>