<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="213494ec-2a92-4f94-9bec-f7128cb3e91c" Alias="tourProperties" Level="3">
  <Info>
    <Name>Tour Properties</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Page+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6d9ed691-05fb-43a1-9c59-7acd87dadaf9</Key>
      <Name>Organisers</Name>
      <Alias>organisers</Alias>
      <Definition>cc81477f-a66d-4eec-852d-cb39ea8cdccc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tourProperties/tourOrganiser">Tour Organiser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4dfafdd8-f060-41a8-91d7-66926a605d92</Key>
      <Caption>Tour Organiser</Caption>
      <Alias>tourProperties/tourOrganiser</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>db5ff556-f5d0-41ef-909a-3dd231c7ed9e</Key>
      <Caption>Tour Properties</Caption>
      <Alias>tourProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>