<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="902bae89-821e-4b32-80a9-e6f5bfe20a0a" Alias="groupTours" Level="2">
  <Info>
    <Name>Group Tours</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca839412-504a-4bfe-ac26-b6f0672a42f2">contentGridDefault</Composition>
      <Composition Key="97c67415-a134-4516-8611-8806adaa9777">contentHeadingDefault</Composition>
      <Composition Key="caf830a3-e324-45e1-a831-fc38fbcdb151">contentHeadingDefault1</Composition>
    </Compositions>
    <DefaultTemplate>groupTours</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad38862c-fb48-40f7-b5a0-d89ab7d066e9">groupTours</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b1dff69a-d7fa-42a5-a206-399431f2d2d0" SortOrder="0">groupTour</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>