<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="148133cf-ad64-45fa-975d-3c2565ca72d4" Alias="indexPage" Level="2">
  <Info>
    <Name>Index Page</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca839412-504a-4bfe-ac26-b6f0672a42f2">contentGridDefault</Composition>
      <Composition Key="97c67415-a134-4516-8611-8806adaa9777">contentHeadingDefault</Composition>
      <Composition Key="caf830a3-e324-45e1-a831-fc38fbcdb151">contentHeadingDefault1</Composition>
    </Compositions>
    <DefaultTemplate>WebPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d4c2391f-85ef-404d-a0be-10499d55e92a" SortOrder="0">webPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>