<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95ced538-43a2-445f-95ad-69b626a843cd" Alias="Tour Properties - Organiser Email - Email" Level="1">
  <Info>
    <Name>Tour Properties - Organiser Email - Email</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>