<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e91e0b3-0cc2-48b9-af9f-cf7389f17960" Alias="Tour Properties - Organiser Address - Text Area" Level="1">
  <Info>
    <Name>Tour Properties - Organiser Address - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>