<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc81477f-a66d-4eec-852d-cb39ea8cdccc" Alias="Tour Properties -  - Block List" Level="1">
  <Info>
    <Name>Tour Properties -  - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e91b6cf0-0a92-4b3f-a1c9-b17aca85e345",
      "label": "Organiser"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>