<?xml version="1.0" encoding="utf-8"?>
<Media Key="81a6979d-3499-4ccc-a8e8-5a08e5e376ee" Alias="TTM5080 Newbury Western Sicily Palermo lo.pdf" Level="2">
  <Info>
    <Parent Key="b22550e1-cd65-48b7-a531-f067428a842b">PDF</Parent>
    <Path>/PDF/TTM5080NewburyWesternSicilyPalermoLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-01-25T18:55:38</CreateDate>
    <NodeName Default="TTM5080 Newbury Western Sicily Palermo lo.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wollnamz/ttm5080-newbury-western-sicily-palermo-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>