<?xml version="1.0" encoding="utf-8"?>
<Content Key="5886eda6-67e5-4b69-aaac-313780b28d10" Alias="[Tailored Tour Blueprint]" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TailoredTourBlueprint</Path>
    <Trashed>false</Trashed>
    <ContentType>tailoredTour</ContentType>
    <CreateDate>2026-02-27T10:37:15</CreateDate>
    <NodeName Default="[Tailored Tour Blueprint]" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="e5bff172-0dd5-4845-8971-b3eb86d6c458">tailoredTour</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <blockGridTailoredTour>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "fff9a816-8041-4d76-bb5b-f404ac0dc27b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "9c1df68d-a953-42be-b05b-e2efe9ca6781",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "1722663b-783e-49a6-ab68-091cda2d5ff7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "365fd365-6ec4-4fbb-9434-1df366aa77f8",
      "key": "6032afd9-a533-40aa-b4de-ac8ae5236ca1",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Itinerary"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3\u003E[Day 1]\u003C/h3\u003E\u003Cp\u003E[Day 1 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 2]\u003C/h3\u003E\u003Cp\u003E[Day 2 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 3]\u003C/h3\u003E\u003Cp\u003E[Day 3 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 4]\u003C/h3\u003E\u003Cp\u003E[Day 4 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 5]\u003C/h3\u003E\u003Cp\u003E[Day 5 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 6]\u003C/h3\u003E\u003Cp\u003E[Day 6 Itinerary]\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "1d09b5af-b95a-4af5-b8f2-323db029e817",
      "key": "65fc6fe6-0b5c-4e68-a8c3-6fbbc4ecefad",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accommodation"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E[Accommodation]\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a00f052f-2581-4b24-a04e-a49db5a87615",
      "key": "d65e6f24-2448-4c81-82a1-b2491269a737",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Organiser"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "For more information on this tour contact your Group Organiser"
        }
      ]
    },
    {
      "contentTypeKey": "2d9b0603-29ef-423a-8d3e-d9c039d3d7b1",
      "key": "7fdeab50-dd0e-4fe6-acae-fd111150f35e",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sights"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E[Sights]\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "f82950ff-f92f-4626-801f-fdf0b5b7c4f3",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "fe3afc58-2e14-414f-a2a0-b581313afb43",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "fd82ce81-127d-4053-952a-f5a7e6d66a0b",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "42f5e096-5aea-4675-9007-e132079cf34e",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "caa5e837-c7fc-4766-bae1-b6c7843e44ea",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "82122dec-9b6c-4691-b13f-a806e80f8e01",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fff9a816-8041-4d76-bb5b-f404ac0dc27b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9c1df68d-a953-42be-b05b-e2efe9ca6781",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1722663b-783e-49a6-ab68-091cda2d5ff7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6032afd9-a533-40aa-b4de-ac8ae5236ca1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "65fc6fe6-0b5c-4e68-a8c3-6fbbc4ecefad",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d65e6f24-2448-4c81-82a1-b2491269a737",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7fdeab50-dd0e-4fe6-acae-fd111150f35e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "1722663b-783e-49a6-ab68-091cda2d5ff7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "fd82ce81-127d-4053-952a-f5a7e6d66a0b",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fff9a816-8041-4d76-bb5b-f404ac0dc27b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f82950ff-f92f-4626-801f-fdf0b5b7c4f3",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "d65e6f24-2448-4c81-82a1-b2491269a737",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "6032afd9-a533-40aa-b4de-ac8ae5236ca1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "42f5e096-5aea-4675-9007-e132079cf34e",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "65fc6fe6-0b5c-4e68-a8c3-6fbbc4ecefad",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "caa5e837-c7fc-4766-bae1-b6c7843e44ea",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "7fdeab50-dd0e-4fe6-acae-fd111150f35e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "82122dec-9b6c-4691-b13f-a806e80f8e01",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "9c1df68d-a953-42be-b05b-e2efe9ca6781",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fe3afc58-2e14-414f-a2a0-b581313afb43",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGridTailoredTour>
    <organisers>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e91b6cf0-0a92-4b3f-a1c9-b17aca85e345",
      "key": "91204016-657d-4a49-9bba-62fe18483d28",
      "udi": null,
      "values": [
        {
          "alias": "organiserAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organiser Address]"
        },
        {
          "alias": "organiserEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "organiser@email"
        },
        {
          "alias": "organiserTelephone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organiser Telephone]"
        },
        {
          "alias": "organiserName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organiser Name]"
        },
        {
          "alias": "organiserOrganisation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organisation]"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "91204016-657d-4a49-9bba-62fe18483d28",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "91204016-657d-4a49-9bba-62fe18483d28",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </organisers>
    <pageDescription>
      <Value><![CDATA[[Page Description]]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[[Page Title]]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[[Page Title Short]]]></Value>
    </pageTitleShort>
  </Properties>
</Content>