<?xml version="1.0" encoding="utf-8"?>
<Media Key="85aba210-4847-441e-9387-9d4b22fbdc4b" Alias="An Introduction to Fluid Responsive Typography.md" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/AnIntroductionToFluidResponsiveTypographymd</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-02-08T10:14:10</CreateDate>
    <NodeName Default="An Introduction to Fluid Responsive Typography.md" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bcrkxbkh/an-introduction-to-fluid-responsive-typography.md]]></Value>
    </umbracoFile>
  </Properties>
</Media>