<?xml version="1.0" encoding="utf-8"?>
<Media Key="de3b30d9-5125-4e96-b87f-0636718642cd" Alias="Markdown" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Markdown</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-08T18:56:21</CreateDate>
    <NodeName Default="Markdown" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties />
</Media>