<?xml version="1.0" encoding="utf-8"?>
<Media Key="b22550e1-cd65-48b7-a531-f067428a842b" Alias="PDF" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PDF</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-25T18:55:03</CreateDate>
    <NodeName Default="PDF" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties />
</Media>