<?xml version="1.0" encoding="utf-8"?>
<Media Key="a890710a-38ba-48aa-b697-0463c26ff445" Alias="TTM2492 Bookham Madrid Toledo Segovialo.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TTM2492BookhamMadridToledoSegovialopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-02-12T07:39:33</CreateDate>
    <NodeName Default="TTM2492 Bookham Madrid Toledo Segovialo.pdf" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eryjbkf0/ttm2492-bookham-madrid-toledo-segovialo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>