<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0ce5b77-a6ff-44ee-aefa-079871ddbab2" Alias="TTM4930 Derby N Ireland Titanic Derry lo.pdf" Level="2">
  <Info>
    <Parent Key="b22550e1-cd65-48b7-a531-f067428a842b">PDF</Parent>
    <Path>/PDF/TTM4930DerbyNIrelandTitanicDerryLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-01-25T18:55:37</CreateDate>
    <NodeName Default="TTM4930 Derby N Ireland Titanic Derry lo.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lfnn3qh5/ttm4930-derby-n-ireland-titanic-derry-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>