<?xml version="1.0" encoding="utf-8"?>
<Media Key="80d48fd4-5a0a-4369-b663-65a644291968" Alias="TTM5085 Kingston Liverpool lo.pdf" Level="2">
  <Info>
    <Parent Key="b22550e1-cd65-48b7-a531-f067428a842b">PDF</Parent>
    <Path>/PDF/TTM5085KingstonLiverpoolLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-02-13T15:54:55</CreateDate>
    <NodeName Default="TTM5085 Kingston Liverpool lo.pdf" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5khnjaak/ttm5085-kingston-liverpool-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>