<?xml version="1.0" encoding="utf-8"?>
<Media Key="9df6182b-4da3-4b71-b7a4-07e0496b4df3" Alias="TTM5079 SE Suffolk Kent lo.pdf" Level="2">
  <Info>
    <Parent Key="b22550e1-cd65-48b7-a531-f067428a842b">PDF</Parent>
    <Path>/PDF/TTM5079SESuffolkKentLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-01-25T18:55:37</CreateDate>
    <NodeName Default="TTM5079 SE Suffolk Kent lo.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aumpnhnd/ttm5079-se-suffolk-kent-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>