<?xml version="1.0" encoding="utf-8"?>
<Media Key="324bcce3-fa42-4499-9109-42b411caea5e" Alias="updoc-test-01.pdf" Level="2">
  <Info>
    <Parent Key="b22550e1-cd65-48b7-a531-f067428a842b">PDF</Parent>
    <Path>/PDF/updocTest01pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-02-12T09:49:12</CreateDate>
    <NodeName Default="updoc-test-01.pdf" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zxgewmsc/updoc-test-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>