<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dc64059-9bb2-468b-be75-98d6b4bb3108" Alias="updoc-test-03.pdf" Level="2">
  <Info>
    <Parent Key="b22550e1-cd65-48b7-a531-f067428a842b">PDF</Parent>
    <Path>/PDF/updocTest03pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-02-12T09:53:42</CreateDate>
    <NodeName Default="updoc-test-03.pdf" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o3ammlns/updoc-test-03.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>