<?xml version="1.0" encoding="utf-8"?>
<Content Key="657aaeb8-a4d8-4965-bc41-8aac0d470854" Alias="Flemish Masters – Bruges, Antwerp and Ghent" Level="3">
  <Info>
    <Parent Key="dd9b7287-a3ff-418e-893d-b84df7de7500">Tailored Tours</Parent>
    <Path>/Home/TailoredTours/FlemishMastersBrugesAntwerpAndGhent</Path>
    <Trashed>false</Trashed>
    <ContentType>tailoredTour</ContentType>
    <CreateDate>2026-02-26T17:30:26</CreateDate>
    <NodeName Default="Flemish Masters – Bruges, Antwerp and Ghent" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="e5bff172-0dd5-4845-8971-b3eb86d6c458">tailoredTour</Template>
  </Info>
  <Properties>
    <blockGridTailoredTour>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "4fb52ca5-82c0-410f-abd9-09cfd3a112fd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "322e4cca-d884-44e2-b19f-94acf7bb09dd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "365fd365-6ec4-4fbb-9434-1df366aa77f8",
      "key": "a54c6b19-09f3-42fb-8558-70bc7246108c",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Itinerary"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 data-pm-slice=\u00220 0 []\u0022\u003E[Day 1]\u003C/h3\u003E\u003Cp\u003E[Day 1 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 2]\u003C/h3\u003E\u003Cp\u003E[Day 2 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 3]\u003C/h3\u003E\u003Cp\u003E[Day 3 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 4]\u003C/h3\u003E\u003Cp\u003E[Day 4 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 5]\u003C/h3\u003E\u003Cp\u003E[Day 5 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 6]\u003C/h3\u003E\u003Cp\u003E[Day 6 Itinerary]\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "34e5aa3b-db10-40a1-893d-79e98cd3f2f4",
      "key": "f2bf7c8e-c5a9-4c1b-b2d4-191e461206a0",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Features"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cul data-pm-slice=\u00220 0 []\u0022\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "1d09b5af-b95a-4af5-b8f2-323db029e817",
      "key": "8030b49b-02fa-4830-a6c5-67c9af5f6cec",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accommodation"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp data-pm-slice=\u00220 0 []\u0022\u003E[Accommodation]\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a00f052f-2581-4b24-a04e-a49db5a87615",
      "key": "b1c7cd5e-f578-403f-89db-f13a71212816",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Organiser"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "For more information on this tour contact your Group Organiser"
        }
      ]
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "62198ccc-fc3a-4fff-969b-39c59dbf339a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "2d9b0603-29ef-423a-8d3e-d9c039d3d7b1",
      "key": "d7935a12-89db-4648-be2b-e2ee83db2408",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "What We Will See"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cul\u003E\n\u003Cli\u003EBruges \u2013 guided walking tour\u003C/li\u003E\n\u003Cli\u003EBruges Canal Cruise\u003C/li\u003E\n\u003Cli\u003EGroeninge Museum\u003C/li\u003E\n\u003Cli\u003EAntwerp \u2013 guided walking tour\u003C/li\u003E\n\u003Cli\u003ERubens House \u2013 guided tour\u003C/li\u003E\n\u003Cli\u003EGhent \u2013 guided walking tour\u003C/li\u003E\n\u003Cli\u003ESt Bavo Cathedral \u0026amp; \u2018The Adoration of the Mystic Lamb\u2019\u003C/li\u003E\n\u003Cli\u003EGhent Museum of Fine Arts \u2013 guided tour\u003C/li\u003E\n\u003Cli\u003EPalais des Beaux Arts at Lille \u2013 guided tour\u003C/li\u003E\n\u003C/ul\u003E\n"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "f738ef8f-01dd-4918-9872-f027d06c3d62",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "816a757b-11c8-4260-9885-3adc266ea73d",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "4306150d-5f30-4351-ba82-659e12300ed0",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "273d810e-60cb-4f2f-b711-b82ca4194de7",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "766d13c3-871b-41c9-9cf9-d5ad7dbb790d",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "854287be-de96-437d-91ec-01791853239b",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "71781844-a1cf-4622-afa9-e4030f14f539",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4fb52ca5-82c0-410f-abd9-09cfd3a112fd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "322e4cca-d884-44e2-b19f-94acf7bb09dd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a54c6b19-09f3-42fb-8558-70bc7246108c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f2bf7c8e-c5a9-4c1b-b2d4-191e461206a0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8030b49b-02fa-4830-a6c5-67c9af5f6cec",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b1c7cd5e-f578-403f-89db-f13a71212816",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "62198ccc-fc3a-4fff-969b-39c59dbf339a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d7935a12-89db-4648-be2b-e2ee83db2408",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "62198ccc-fc3a-4fff-969b-39c59dbf339a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "854287be-de96-437d-91ec-01791853239b",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4fb52ca5-82c0-410f-abd9-09cfd3a112fd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f738ef8f-01dd-4918-9872-f027d06c3d62",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b1c7cd5e-f578-403f-89db-f13a71212816",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "a54c6b19-09f3-42fb-8558-70bc7246108c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4306150d-5f30-4351-ba82-659e12300ed0",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "f2bf7c8e-c5a9-4c1b-b2d4-191e461206a0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "273d810e-60cb-4f2f-b711-b82ca4194de7",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "8030b49b-02fa-4830-a6c5-67c9af5f6cec",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "766d13c3-871b-41c9-9cf9-d5ad7dbb790d",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "d7935a12-89db-4648-be2b-e2ee83db2408",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "71781844-a1cf-4622-afa9-e4030f14f539",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "322e4cca-d884-44e2-b19f-94acf7bb09dd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "816a757b-11c8-4260-9885-3adc266ea73d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGridTailoredTour>
    <organisers>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e91b6cf0-0a92-4b3f-a1c9-b17aca85e345",
      "key": "3e2ce006-d3bf-4d6b-98cf-f1f11022d433",
      "udi": null,
      "values": [
        {
          "alias": "organiserAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "80 Thorpe Road, Norwich NR1 1BA"
        },
        {
          "alias": "organiserEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "organiser@email"
        },
        {
          "alias": "organiserTelephone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organiser Telephone]"
        },
        {
          "alias": "organiserName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Susanna Smart"
        },
        {
          "alias": "organiserOrganisation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organisation]"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3e2ce006-d3bf-4d6b-98cf-f1f11022d433",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3e2ce006-d3bf-4d6b-98cf-f1f11022d433",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </organisers>
    <pageDescription>
      <Value><![CDATA[The Arts Society Wensum presents]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Flemish Masters – Bruges, Antwerp and Ghent]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Flemish Masters – Bruges, Antwerp and Ghent]]></Value>
    </pageTitleShort>
  </Properties>
</Content>