<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4e23226-0aed-487e-b26f-afb80cf992d8" Alias="Group Tours" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/GroupTours</Path>
    <Trashed>false</Trashed>
    <ContentType>groupTours</ContentType>
    <CreateDate>2026-01-31T18:46:26</CreateDate>
    <NodeName Default="Group Tours" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad38862c-fb48-40f7-b5a0-d89ab7d066e9">groupTours</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "3c3d6577-45b6-41f5-8d3d-bd0b0ee20c09",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "750cec56-6991-4f4b-9c14-d0fa343344db",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "533c505d-5314-4af9-b296-bc9cdc09d596",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "b0fa30ad-7f81-4480-bbb5-a8792e99ef92",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a3f940d8-6afd-435c-a6f5-997b9f577cc6",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "773e69ac-b69f-40e0-bc15-96325e5f0647",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5b7dfc04-fe19-4ffc-b5d4-f823e6e2e75b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "777a6b8a-2bfe-4e4a-98fd-06e2a03e9dc0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "21802144-d2dc-4860-a50b-6287da996ee6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c6735be4-aa0b-41e2-be31-94ae1c3da567",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8ae1b8af-3dab-424c-8c49-21518e4d12d5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bd7dd816-1851-40a1-a8cf-ea3de5f46841",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3c3d6577-45b6-41f5-8d3d-bd0b0ee20c09",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "750cec56-6991-4f4b-9c14-d0fa343344db",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "533c505d-5314-4af9-b296-bc9cdc09d596",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "750cec56-6991-4f4b-9c14-d0fa343344db",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a3f940d8-6afd-435c-a6f5-997b9f577cc6",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "533c505d-5314-4af9-b296-bc9cdc09d596",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "773e69ac-b69f-40e0-bc15-96325e5f0647",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "3c3d6577-45b6-41f5-8d3d-bd0b0ee20c09",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b0fa30ad-7f81-4480-bbb5-a8792e99ef92",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Group Tours]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Group Tours]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Group Tours]]></Value>
    </pageTitleShort>
  </Properties>
</Content>