<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4e23226-0aed-487e-b26f-afb80cf992d8" Alias="Group Tours" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/GroupTours</Path>
    <Trashed>false</Trashed>
    <ContentType>groupTours</ContentType>
    <CreateDate>2026-01-31T18:46:26</CreateDate>
    <NodeName Default="Group Tours" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad38862c-fb48-40f7-b5a0-d89ab7d066e9">groupTours</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Group Tours]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Group Tours]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Group Tours]]></Value>
    </pageTitleShort>
  </Properties>
</Content>