<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4e23226-0aed-487e-b26f-afb80cf992d8" Alias="Group Tours" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/GroupTours</Path>
    <Trashed>false</Trashed>
    <ContentType>groupTours</ContentType>
    <CreateDate>2026-01-31T18:46:26</CreateDate>
    <NodeName Default="Group Tours" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad38862c-fb48-40f7-b5a0-d89ab7d066e9">groupTours</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "62b1dc16-3543-408d-8a94-56f033617990",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "5b7dfc04-fe19-4ffc-b5d4-f823e6e2e75b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "777a6b8a-2bfe-4e4a-98fd-06e2a03e9dc0",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "7539f0fa-bfad-47f9-8060-9cef521cc836",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "ce3e5f1e-e7ab-48bf-9466-d74090ddb4aa",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "2d36b9ee-df87-4a01-bd0a-548f29ace398",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "62b1dc16-3543-408d-8a94-56f033617990",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5b7dfc04-fe19-4ffc-b5d4-f823e6e2e75b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "777a6b8a-2bfe-4e4a-98fd-06e2a03e9dc0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "21802144-d2dc-4860-a50b-6287da996ee6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "777a6b8a-2bfe-4e4a-98fd-06e2a03e9dc0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2d36b9ee-df87-4a01-bd0a-548f29ace398",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "5b7dfc04-fe19-4ffc-b5d4-f823e6e2e75b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ce3e5f1e-e7ab-48bf-9466-d74090ddb4aa",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "62b1dc16-3543-408d-8a94-56f033617990",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "7539f0fa-bfad-47f9-8060-9cef521cc836",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Group Tours]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Group Tours]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Group Tours]]></Value>
    </pageTitleShort>
  </Properties>
</Content>