<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2feeef7-2c68-4489-8e51-6359d4409ab3" Alias="Test Tailored Tour" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestTailoredTour</Path>
    <Trashed Parent="dd9b7287-a3ff-418e-893d-b84df7de7500">true</Trashed>
    <ContentType>tailoredTour</ContentType>
    <CreateDate>2026-02-26T15:07:00</CreateDate>
    <NodeName Default="Test Tailored Tour" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e5bff172-0dd5-4845-8971-b3eb86d6c458">tailoredTour</Template>
  </Info>
  <Properties>
    <blockGridTailoredTour>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "089da4da-99da-43bc-b55b-7de6b0b6978c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "169a472f-85e7-4252-9681-a103c433cdc7",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "e5ddafaa-5a23-4d68-a5a3-4aaac5f152c6",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "4724ba78-2292-462a-b96c-71906ff0830b",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "089da4da-99da-43bc-b55b-7de6b0b6978c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "169a472f-85e7-4252-9681-a103c433cdc7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "169a472f-85e7-4252-9681-a103c433cdc7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4724ba78-2292-462a-b96c-71906ff0830b",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "089da4da-99da-43bc-b55b-7de6b0b6978c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e5ddafaa-5a23-4d68-a5a3-4aaac5f152c6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGridTailoredTour>
    <organisers>
      <Value><![CDATA[]]></Value>
    </organisers>
    <pageDescription>
      <Value><![CDATA[Test Tailored Tour - Page Description *]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Test Tailored Tour - Page Title *]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Test Tailored Tour - Page Title Short *]]></Value>
    </pageTitleShort>
  </Properties>
</Content>