<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1b0d653-6b50-4699-b5d2-9e1072a220d7" Alias="Test Group Tours" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/TestGroupTours</Path>
    <Trashed>false</Trashed>
    <ContentType>indexPage</ContentType>
    <CreateDate>2026-01-26T09:25:58</CreateDate>
    <NodeName Default="Test Group Tours" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="618f1b06-32e4-4f5a-a2a6-5ed025cc024c">indexPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "d24f027e-790c-4d17-aa6b-8295791fa3ff",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "bb36014d-d48f-4993-ab06-3edb42bd9b40",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "69c97996-18d0-4ac9-8855-1e6fec71f864",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "c4bc15dc-4d4c-48af-88d0-7cba1dbe4077",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d24f027e-790c-4d17-aa6b-8295791fa3ff",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bb36014d-d48f-4993-ab06-3edb42bd9b40",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "bb36014d-d48f-4993-ab06-3edb42bd9b40",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c4bc15dc-4d4c-48af-88d0-7cba1dbe4077",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d24f027e-790c-4d17-aa6b-8295791fa3ff",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "69c97996-18d0-4ac9-8855-1e6fec71f864",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Group Tours]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Group Tours]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Group Tours]]></Value>
    </pageTitleShort>
  </Properties>
</Content>