<?xml version="1.0" encoding="utf-8"?>
<Content Key="d597827d-321a-4c87-a1ef-f7dff2a20883" Alias="xxxxxx" Level="3">
  <Info>
    <Parent Key="b4e23226-0aed-487e-b26f-afb80cf992d8">Group Tours</Parent>
    <Path>/Home/GroupTours/xxxxxx</Path>
    <Trashed>false</Trashed>
    <ContentType>groupTour</ContentType>
    <CreateDate>2026-01-31T18:46:48</CreateDate>
    <NodeName Default="xxxxxx" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d17fc046-ee5a-4f82-901e-9e9b7601cc17">groupTour</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "26fd8ece-5ba7-4388-9481-e50b3431e427",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "cac4ba96-6974-41e9-b85a-7a44af775cdb",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETertiary\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "4c526d63-e73b-4984-a680-6f167724654a",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPrimary\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "5bba3307-053a-445a-918c-0d78f55a33bb",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESecondary\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "d693b9bb-3e8a-4413-86c5-3dbecb349ebd",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "25e7dbb9-7ea0-49c5-9feb-935399f6eab8",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "07159a47-34f9-4e0b-bc2c-eeb06ea07ddc",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "cf511e9b-21f8-4377-963a-3cc71242f728",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "26fd8ece-5ba7-4388-9481-e50b3431e427",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cac4ba96-6974-41e9-b85a-7a44af775cdb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4c526d63-e73b-4984-a680-6f167724654a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5bba3307-053a-445a-918c-0d78f55a33bb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "cac4ba96-6974-41e9-b85a-7a44af775cdb",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "25e7dbb9-7ea0-49c5-9feb-935399f6eab8",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "4c526d63-e73b-4984-a680-6f167724654a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "07159a47-34f9-4e0b-bc2c-eeb06ea07ddc",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "5bba3307-053a-445a-918c-0d78f55a33bb",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cf511e9b-21f8-4377-963a-3cc71242f728",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "26fd8ece-5ba7-4388-9481-e50b3431e427",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d693b9bb-3e8a-4413-86c5-3dbecb349ebd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[xxxxxxxxxxx]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[xxxxxxxx]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[xxxxxxxx]]></Value>
    </pageTitleShort>
  </Properties>
</Content>